<!DOCTYPE html>
<html lang="en">

<head>
  <%- include(`${process.cwd()}/views/common/base/head.ejs`, {path: 'pages/auth/signup', title: 'Sign up' }) %>
</head>

<body>
  <%- include(`${process.cwd()}/views/common/components/partial/header.ejs`) %>
  <div class="container-fluid">
    <h1 class="signup__title">Sign up</h1>
    <form class="signup__form">
      <div class="form-row justify-content-center">
        <div class="col-4">
          <div class="form-group">
            <label for="email" class="signup__form__label strong">Your Email</label>
            <input type="email" class="form-control signup__form__input" id="email" name="email" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group" data-toggle="tooltip" data-placement="right" title="테스트용 비밀번호를 입력하시는 것을 권해드립니다.">
            <label for="password" class="signup__form__label strong">Password</label>
            <input type="password" class="form-control signup__form__input" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="checkPassword" class="signup__form__label strong">Confirm Password</label>
            <input type="password" class="form-control signup__form__input" id="checkPassword" required>
          </div>
          <div class="alert alert-danger signup__form__alert" role="alert">
            영문, 숫자 조합으로 4자~16자 이상으로 설정할 수 있습니다.
          </div>
          <div class="form-group">
            <label for="verifiedNumver" class="signup__form__label strong">Name</label>
            <input type="text" class="form-control signup__form__input" id="username" name="username" aria-describedby="username">
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="signup__form__label strong">Phone Number</label>
            <input type="text" class="form-control signup__form__input" id="phoneNumber" name="phone" aria-describedby="phoneNumber">
          </div>
          <div class="form-group">
            <label for="captha" class="signup__form__label strong">Captha Number</label>
            <div class="form-row">
              <div class="col-3">
                <span type="text" class="captcha__data"><%- captcha.data %></span>
              </div>
              <div class="col">
                <a href="#none" class="btn signup__button-refresh">
                  <div class="material-icons">
                    refresh
                  </div>
                </a>
              </div>
              <div class="col-6 justify-cotent-end">
                <input type="text" class="form-control signup__form__input" id="captcha" placeholder="Number" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center signup__button_box">
        <button type="submit" class="btn signup__button-join ">Sign up</button>
        <a href="/" class="btn signup__button-cancel ">Cancel</a>
      </div>
    </form>
  </div>
  <%- include(`${process.cwd()}/views/common/components/partial/footer.ejs`) %>
  <%- include(`${process.cwd()}/views/common/base/foot.ejs`, {path: 'pages/auth/signup'}) %>
</body>

</html>