<!DOCTYPE html>
<html lang="en">

<head>
  <%- include(`${process.cwd()}/views/common/base/head.ejs`, {path: 'pages/auth/signin', title: 'Sign in' })%>
</head>

<body>
  <div class="container-fluid">
    <%- include(`${process.cwd()}/views/common/components/partial/header.ejs`) %>
    <h1 class="signin__title">Sign in</h1>
    <form class="signin__form">
      <div class="form-row justify-content-center">
        <div class="col-4">
          <div class="form-group">
            <label for="email" class="signin__form__label strong">Your Email</label>
            <input type="email" class="form-control signin__form__input" id="email" name="email"
              aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="password" class="signin__form__label strong">Password</label>
            <input type="password" class="form-control signin__form__input" id="password" name="password" required>
            <a href="" class="signin__form__help">
              <small id="passwordHelp" class="form-text">Forgot your password?</small>
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center signin__button_box">
        <button type="submit" class="btn signin__button-login" data-prev="<%= prevUrl %>">Sign in</button>
        <a href="/" class="btn signin__button-cancel ">Home</a>
      </div>

      <div class="d-flex justify-content-center">
        <a href="/auth/signup" class="btn signin__button-join ">I want join here!</a>
      </div>
    </form>
  </div>
  <div class="footer__parent">
    <%- include(`${process.cwd()}/views/common/components/partial/footer.ejs`) %>
  </div>
  <%- include(`${process.cwd()}/views/common/base/foot.ejs`, {path: 'pages/auth/signin'})%>
</body>

</html>