<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`${process.cwd()}/views/common/base/head.ejs`, {path: 'pages/board/freeboard', title: 'Free Board'})%>
</head>
<body>
  <%- include(`${process.cwd()}/views/common/components/partial/header.ejs`) %>
  <div class="container-fluid">
    <h1 class="board__title">Free Board</h1>
    <div class="section__board">
      <div class="wrap">
        <ul class="list-unstyled section__board__list">
          <% list.map((list)=> { %>
          <li class="section__board__item">
            <a class="section__board__box d-flex justify-content-between" href="/board/freeboard/detail/<%= list.id %>">
              <span class="section__board__seq"><%= list.id %></span>
              <span class="section__board__title ml-3"><%= list.title %></span>
              <span class="section__board__author ml-5"><%= list.author %></span>
              <span class="section__board__date ml-3"><%= list.time %></span>
            </a>
          </li>
          <% }) %>
        </ul>
        <div class="d-flex justify-content-end section__board__button_box">
          <% if (!loginData) { %>
            <a href="/auth/signin" class="btn section__board__button">Sign in</a>
          <% } else { %>
          <a href="/board/freeboard/write" class="btn section__board__button">Write</a>
          <% } %>
        </div>
      </div>
      <nav aria-label="Page navigation nav__pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="nav__pagination__button strong" href="#" aria-label="Previous">
              <span aria-hidden="true">
                <i class="material-icons">navigate_before</i>
              </span>
            </a>
          </li>
          <li class="page-item"><a class="nav__pagination__link strong active" href="#">1</a></li>
          <li class="page-item"><a class="nav__pagination__link strong" href="#">2</a></li>
          <li class="page-item"><a class="nav__pagination__link strong" href="#">3</a></li>
          <li class="page-item">
            <a class="nav__pagination__button" href="#" aria-label="Next">
              <span aria-hidden="true">
                <i class="material-icons">navigate_next</i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <%- include(`${process.cwd()}/views/common/components/partial/footer.ejs`) %>
  <%- include(`${process.cwd()}/views/common/base/foot.ejs`, {path: 'pages/board/freeboard' })%>
</body>
</html>