<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`${process.cwd()}/views/common/base/head.ejs`, {path: 'pages/board/write', title: 'Write'})%>
</head>
<body>
  <%- include(`${process.cwd()}/views/common/components/partial/header.ejs`) %>
  <div class="container-fluid">
    <h1 class="write__title">Free Board</h1>
    <div class="section__write">
      <div class="wrap">
        <form class="section__write__form" id="writeForm">
          <input type="text" class="form-control section__write__title" placeholder="Title">
          <textarea id="summernote" name="contents" class="form-control" form="writeForm" style="resize: none"></textarea>
          <div class="d-flex justify-content-end section__write__button_box">
            <button type="submit" class="btn section__write__button">Write</button>
            <a href="<%= locals.prevUrl %>" class="btn section__write__button list">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <%- include(`${process.cwd()}/views/common/components/partial/footer.ejs`) %>
  </div>
  <%- include(`${process.cwd()}/views/common/base/foot.ejs`, {path: 'pages/board/write' })%>
</body>
</html>